{%- for message in messages -%}
<|im_start|>{{ message['role'] if message['role'] != 'system' else 'user' }}
{{ message['content'] }}<|im_end|>
{% endfor -%}
{%- if add_generation_prompt -%}
<|im_start|>assistant
{% endif -%}
